// Place all the styles related to the handout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
  color: #000000;
  font-family: Maven Pro;
  font-size: 4em;
  margin-top:60px;
  letter-spacing: 4px
}
#main_index {
  text-align: center;
  height: 100vh;
  font-family: Maven Pro;
  //background: url(confroom.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.8
}
#sprint_select_form {
  margin-top: 15px
}
#team_link {
  text-align: center;
  padding: 25px
}
.sprint_select {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-top: 10px
}
.dev-team, .tpo, .scrummaster { }
.team {
  text-align: center
}
.team p {
  color: #FFFFFF
}
.panel {
  margin-top: 50px;
}
.panel-primary>.panel-heading {
  background-color: #34495e !important;
  border-color: none;
  #letter-spacing: 3px;
  #word-spacing: 1px;
}
#handout-main {
  margin-top: 20px;
  #font-family: Comfortaa;
}
.handout-heading {
  text-align: left
}
.handout-title {
  font-family: Comfortaa;
  font-size: 4em;
  margin: 0;
  letter-spacing: 2px;
}
legend {
  margin: 0;
}
.label-key {
  padding: 4px;
  background-color: #34495e;
  color: #FFFFFF;
  border-radius: 3px 0 0 3px
}
.label-value {
  padding: 4px;
  background-color: #c0392b;
  color: #FFFFFF;
  border-radius: 0 3px 3px 0;
}
.handout-intro {
  margin-top: 20px;
  font-size: 0.8em;
}
.handout-metrics {
  text-align: left;
}
.handout-team {
  text-align: right;
}
.label.label-info {
  background-color: #595959
}
.label.label-warning {
  background-color: #009999
}
.graph {
  text-align: center
}
#pdf {
  text-align: center
}
#link_to_graph a {
  color: #FFFFFF
}
#home {
  text-align: center;
  margin-top: 20px;
}
.sprint_error {
  text-align: center;
  color: red;
  margin-top: 50px
}
#invalid_sprint {
  color: red
}
