
#test { color: red }

.pdf_handout_heading {
  text-align: left;
}
.pdf_handout_title {
  font-family: Comfortaa;
  font-size: 3em;
  margin: 0;
 }
.pdf_handout_headings {
}
legend {
  margin: 0;
} 
p {
  font-size: 0.9em;
}
h4 {
  font-size: 0.8em;
}
h3 {
  font-size: 1.2em;
  text-align: center;
}
.alwaysbreak {
  page-break-before: always;
}
.panel {
  margin-top: 30px;
  font-size: 1em;
}
.panel-primary>.panel-heading {
  background-color: #34495e !important;
  border-color: none;
}
.label-key {
  padding: 3px;
  background-color: #34495e;
  color: #FFFFFF;
  border-radius: 3px 0 0 3px;
}
.label-value {
  padding: 3px;
  background-color: #c0392b;
  color: #FFFFFF;
  border-radius: 0 3px 3px 0;
}
table {
  font-size: 0.8em;
}


@import "bootstrap/variables";
@import "bootstrap/mixins";

@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);
